<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.booking.dao.ProductDao">
	<select id="selectAll" resultType="com.booking.dto.productDto">
		SELECT DISTINCT p.id product_id, p.name product_name, p.description product_description, di.place_name, f.id file_id, f.file_name, f.save_file_name
		FROM product p INNER JOIN display_info di ON p.id = di.product_id
				INNER JOIN product_image pi ON p.id = pi.product_id
                INNER JOIN file f ON pi.file_id = f.id
		WHERE p.sales_start <![CDATA[<=]]> CURDATE() AND p.sales_end <![CDATA[>=]]> CURDATE()
	</select>
</mapper>